@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
* {
  box-sizing: border-box;
}
button,
a {
  cursor: pointer;
  transition: transform 0.1s ease;
}

button:active,
a:active {
  transform: scale(0.95);
}

